<div class="user-box">
  <p>Name : <span>{{user.name}}</span></p>
  <p>E-mail : <span>{{user.email}}</span></p>
  <p>Activity status : <span>{{user.activeStatus}}</span></p>
  <p>Role : <span>{{user.role}}</span></p>
</div>
