.creator {
  width: 400px;
  display: inline-block;
}

.btn {
  border: 1px solid #00d0ff;
  border-radius: 4px;
  background: #387af5;
  box-sizing: border-box;
  padding: 8px 10px;
  display: inline-block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin: 0 100px;
}
