<button class="btn" (click)="currentStatus = true">Manage</button>
<button class="btn" (click)="currentStatus = false">Users and Group</button>
<div>
  <div class="creator" *ngIf="currentStatus; else usersAndGroups">
    <app-users-creator></app-users-creator>
    <app-group-creator></app-group-creator>
  </div>
  <ng-template #usersAndGroups>
    <app-users></app-users>
    <app-groups></app-groups>
  </ng-template>
</div>

