*{
  box-sizing: border-box;
  margin: 15px 0;
}

.users-creator {
  width: 500px;
  display: inline-block;
}

.btn {
  border: 1px solid #00d0ff;
  border-radius: 4px;
  background: #387af5;
  box-sizing: border-box;
  padding: 8px 10px;
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
