<form (ngSubmit)="createUser()" class="users-creator">
  <h4>Create User</h4>
  <label for="name">Name:</label><br>
  <input type="text" id="name" #nameInput><br>
  <label for="email">E-mail:</label><br>
  <input type="text" id="email" #emailInput><br>
  <label>Active status:</label><br>
  <input type="radio" name="radio" id="radioTrue" #trueStatus>
  <label for="radioTrue">Yes</label><br>
  <input type="radio" name="radio" id="radioFalse" #falseStatus>
  <label for="radioFalse">No</label><br>
  <label for="role">Role:  </label>
  <select name="role" id="role" #role>
    <option>User</option>
    <option>Redactor</option>
    <option>Administrator</option>
  </select>
  <button class="btn">Create</button>
</form>
