.btn {
  border: 1px solid #00d0ff;
  border-radius: 4px;
  background: #387af5;
  box-sizing: border-box;
  padding: 8px 10px;
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0;
}
